[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/distinguished"]
	path = vim/bundle/distinguished
	url = git@github.com:Lokaltog/vim-distinguished.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/vim-javascript-syntax"]
	path = vim/bundle/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "vim/bundle/pdv"]
	path = vim/bundle/pdv
	url = git@github.com:tobyS/pdv.git
[submodule "vim/bundle/vmustache"]
	path = vim/bundle/vmustache
	url = git@github.com:tobyS/vmustache.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim/bundle/vdebug"]
	path = vim/bundle/vdebug
	url = git@github.com:joonty/vdebug.git
[submodule "vim/bundle/vim-hack"]
	path = vim/bundle/vim-hack
	url = git@github.com:hhvm/vim-hack.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-node"]
	path = vim/bundle/vim-node
	url = git@github.com:moll/vim-node.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/bundle/tern_for_vim"]
	path = vim/bundle/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/vim-easytags"]
	path = vim/bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/snippets"]
	path = vim/snippets
	url = git@github.com:tomasperezv/javascript-snippets.git
[submodule "vim/bundle/phpcomplete"]
	path = vim/bundle/phpcomplete
	url = git@github.com:shawncplus/phpcomplete.vim.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
